<div class="home-link">
  <a routerLink="/">🏠 Home</a>
</div>
<div class="history-container">
  <h2>Istorija procena</h2>

  <div *ngIf="loading" class="status-card">
    Ucitavanje istorije...
  </div>

  <div *ngIf="!loading && errorMessage" class="status-card error">
    {{ errorMessage }}
  </div>

  <div *ngIf="!loading && !errorMessage && history.length === 0" class="status-card">
    Nema sacuvanih procena za ovog korisnika.
  </div>

  <div class="timeline" *ngIf="!loading && !errorMessage && history.length > 0">

    <div class="timeline-item" *ngFor="let h of history">

      <div class="dot" [ngClass]="h.severity"></div>

      <div class="card">

        <div class="top">
          <span class="date">{{ h.date | date:'yyyy-MM-dd HH:mm' }}</span>

          <span class="badge" [ngClass]="h.severity">
            {{ h.severity }}
          </span>
        </div>

        <div class="score">
          Score: {{ h.score | number:'1.2-2' }}
        </div>

        <div class="state">
          {{ h.finalState }}
        </div>

        <p class="text">
          {{ h.explanation }}
        </p>

        <p class="rec">
          {{ h.recommendation }}
        </p>

        <div class="chips">
          <span class="chip" *ngFor="let p of h.triggeredPatterns">
            {{ p }}
          </span>
        </div>

      </div>

    </div>

  </div>
</div>
