<div class="home-wrapper">
  <mat-card class="hero-card">
    <mat-card-header>
        <div mat-card-avatar class="header-icon">
        <mat-icon>psychology</mat-icon>
        </div>
      <mat-card-title>Mental Health Expert Assistant</mat-card-title>
      <mat-card-subtitle>Razumevanje vašeg emocionalnog stanja</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p class="description">
        Dobrodošli. Ovaj sistem je dizajniran da vam pomogne u proceni nivoa stresa, 
        kognitivnog opterećenja i opšteg emocionalnog blagostanja kroz naučno zasnovane principe.
      </p>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-flat-button color="primary" routerLink="/survey">Započni procenu</button>
      <button mat-button routerLink="/history">Moja istorija</button>
    </mat-card-actions>
  </mat-card>
</div>